body {
  font-family: "Poppins", sans-serif;
}

h1.title {
  text-align: center;
  padding-top: 25px;
}

div.input-div {
  text-align: center;
  padding-top: 10px;
}

input {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

div.output-div {
  text-align: center;
  padding-top: 10px;
}

div.button-div {
  text-align: center;
  padding-top: 10px;
}

button {
  text-align: center;
  font-family: "Poppins", sans-serif;
  height: 25px;
  width: 175px;
}

div.info-div {
  text-align: center;
  padding-top: 10px;
}
